.item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  margin: 10px 0;
  overflow: visible;
}

.entry {
  display: flex;
  justify-content: flex-end;
}

.entryContent {
  flex-grow: 1;
}
