.field {
  margin: 30px 0;
  background-color: #f5f5f5;
}

.fields {
  display: flex;
  flex-direction: column;
}

.entity {
  width: 100%;
}

.checkboxs {
  display: flex;
}


 .checkbox {
   margin: 0 5px;
 }
